<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <a href="/">message</a>
    <a href="/number">Numbers</a>
    <a href="/user">Single user</a>
    <a href="/users">Users List</a>
    <h3>Here is a Users!</h3>
        @{
            Random rand = new Random();
            int choice = rand.Next(0,5);
            <h2 class="text-success">@Model.name[choice]</h2>
        }
</body>
</html>